<p-table
  [value]="dataList"
  [columns]="columnsList"
  [paginator]="true"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [rows]="rowsPerPage"
  [loading]="isDataLoading"
  [lazy]="isLazyLoaded"
  [totalRecords]="totalRecords"
  (onLazyLoad)="lazyLoadData($event)"
  selectionMode="'single'"
  [(selection)]="selectedRow"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.display_name }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-gridRowData let-gridColumns="columns">
    <tr [pSelectableRow]="gridRowData" (dblclick)="rowDoubleClick(gridRowData)">
      <td *ngFor="let col of gridColumns">
        {{ gridRowData[col.mapping_name] }}
      </td>
    </tr>
  </ng-template>
</p-table>
